body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3435px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:1121px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:110px;
  width:630px;
  height:1121px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:1798px;
  top:110px;
  width:640px;
  height:1138px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:110px;
  width:640px;
  height:1138px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1405px;
  width:640px;
  height:1138px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1405px;
  width:640px;
  height:1138px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1853px;
  top:1405px;
  width:640px;
  height:1138px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:2745px;
  top:1405px;
  width:640px;
  height:1138px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:2736px;
  width:640px;
  height:1138px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:2736px;
  width:640px;
  height:1138px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2795px;
  top:2736px;
  width:640px;
  height:1138px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3201px;
  height:1338px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:4104px;
  width:3201px;
  height:1338px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:2736px;
  width:640px;
  height:1138px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:2328px;
  top:2646px;
  width:813px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  white-space:nowrap;
}
